$black: #000;
$black1: #23263b;

$white: #fff;
$white1: #d6d6e7;

$blue: #3a3cb4;
$blue1: #b3b4d7;
$blue2: #2105dc;
$blue3: #777aaf4d;
$blue4: #3c4fe0;

$green: #449e9c;
$green1: #4ba44c;
$green2: #0c1a02;

$grey: #a9a6a6;

$pink: #f08080;
$pink1: #b04e4e;
$pink2: #fa8072;

$red: #ff0000;
